<!-- partial:index.partial.html -->
    <div> 
    <img src="img/fondo.jpg" height="100%" width="100%">
    <br>
    <div>
            <center>
                <img src="img/logo_max.png">
            </center>
    </div>        
            <div class="login">
                <span class="estilo">CORREO:</span>
                <input type="text" placeholder="E-mail" name="user"><br>
                <span class="estilo">CONTRASEÑA:</span>
                <input type="password" placeholder="Password" name="password"><br>
                <input type="button" value="Iniciar">
                <p>
                <span>¿Aún no tienes una cuenta? </span> <a ui-sref="registro"> Registrate</a>
                </p>
                        
            </div>
     </div>   
        
<!-- partial -->