<!-- partial:index.partial.html -->
<div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>Max<span>Login</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="E-mail" name="user"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <input type="button" value="Iniciar">
        <p>
        <a ui-sref="registro"> ¿Todavìa no tienes una cuenta?</a>
        </p>
                
    </div>
<!-- partial -->