<!-- partial:index.partial.html -->
    <div> 
    <img src="img/fondo.jpg" height="100%" width="100%">
    <br>
            <center>
                <img src="img/logo_max.png">
            </center>
            <div class="registro">
                <span class="estilo">USUARIO:</span>
                <input type="text" placeholder="Usuario" name="user" ng-model="user.usuario"><br>
                <span class="estilo">CORREO:</span>
                <input type="text" placeholder="E-mail" name="user" ng-model="user.email"><br>
                <span class="estilo">CONTRASEÑA:</span>
                <input type="password" placeholder="Password" name="password" ng-model="user.password"><br>
                <span class="estilo">CONFIRMAR CONTRASEÑA:</span>
                <input type="password" placeholder="Confirmar Password" name="confirmpassword" ng-model="user.confirmpassword"><br>

                <input type="button" value="Registrar" ng-click="obtener(user)" >
                <p>
                  <span>¿Ya tienes una cuenta? </span> <a ui-sref="login"> Iniciar</a>
                </p>
            </div>
     </div> 
        
<!-- partial -->