<!-- partial:index.partial.html -->
<div class="body"></div>
    <div class="grad"></div>
    <div class="header">
      <div>Max<span>Registro</span></div>
    </div>
    <br>
    <div class="login">
        <input type="text" placeholder="E-mail" name="user" ng-model="user.email"><br>
        <input type="password" placeholder="Password" name="password" ng-model="user.password"><br>
        <input type="button" value="Registrar" ng-click="obtener(user)" >
        <p>
        <a ui-sref="login"> ¿Ya tienes una cuenta?</a>
        </p>
    </div>
<!-- partial -->