.c {
  height: 50px;
  border: 1px solid black !important;
}


.estilo{
  color: gray;
  position: center;
}

.login{
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 100px);
  height: 200px;
  width: 450px;
  padding: 5px;
  z-index: 2;
}
.registro{
  position: absolute;
  top: calc(50% - 85px);
  left: calc(50% - 100px);
  height: 200px;
  width: 450px;
  padding: 5px;
  z-index: 2;
}
.phone{
  position: absolute; 
  left: 70px; 
  top: 50px; 
  width: 500px;         
}
.tuto{
  position: absolute;   
  width: 650px; 
  height: 300px; 
  background-color: #FFFFFF;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}